*.in
*.o
.deps/
Makefile
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
doc/ragel.1
install-sh
missing
ragel/config.h
ragel/ragel
ragel/stamp-h1
test-driver
test/runtests
